#root {
  color: white;
}

#general-info {
  color: white;
  line-height: 0.9;
}

#general-info > p {
  font-size: 1rem;
  font-weight: bold;
}

#general-info h5 {
  font-size: 2.5rem;
}

#general-info h1 {
  font-size: 8rem;
  font-weight: 100;
}

#min-max {
  font-weight: 400;
}

#days-menu {
  background-color: #7d7b7a9a;
  border-radius: 5%;
}

#days-menu > div > p {
  color: #cecac8;
  font-size: 0.8rem;
}

#days-menu > div + hr + div > div > div > p:nth-child(1) {
  color: rgb(78, 77, 77);
}

.temperature-bar {
  width: 100%;
  height: 5px;
  background-color: rgb(44, 44, 44);
  border-radius: 4px;
  position: relative;
}

.temperature-range {
  height: 100%;
  background-color: rgb(7, 175, 175);
  border-radius: 4px;
}

#footer-menu {
  background-color: #7d7b7a;
  border-top: 1px solid;
  border-color: #7d7b7ab0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10000;
}
